:root {
	--dark-color-a: #49707c;
	--dark-color-b: #42707e;
	--light-color-a: antiquewhite;
	--light-color-b: #fbf2e8;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

html {
	overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 93vh;
	margin: 0;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color-b);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
	border-radius: 5px;
}

/*----- CHAT PAGE -----*/
.chat-container {
	display: flex;
    flex-direction: column;
	height: 96%;
	width: 96%;
	background: var(--dark-color-b);
	border-radius: 15px;
}

.chat-header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 14.5%;
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.chat-main {
	display: flex;
	flex-wrap: wrap;
	height: 83%;
	padding: 5px;
	background: var(--dark-color-b);
	border-radius: 5px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

/* Users Sidebar */
.chat-sidebar{
	display: flex;
	flex: 1 1 20%;
	min-width: 200px;
	height: 15%;
	background: var(--dark-color-b);
	color: #fff;
}
.chat-sidebar h3{
	width: 23%;
	padding-left: 10px;
}
#users{
	overflow: auto;
	margin-top: 19px;
	margin-bottom: 10px;
	width: 60%;
}
#users li {
	list-style: disc;
}

/* Main Chat Window */
.chat-form-container{
	display: flex;
	flex: 1 1 80%;
	flex-direction: column;
	justify-content: space-evenly;
	min-width: 215px;
	max-height: 85%;
	min-height: 85%;
	border-radius: 3px;
	background-color: var(--light-color-a);
}
#messages { 
	height: 80%;
	overflow-y: auto;
	padding: 4px;
	margin: 0;
}
#messages > li {  
	margin: 1px; 
	padding: 0.5rem 1rem; 
	background: var(--light-color-a); 
}
#messages > li:nth-child(odd) { 
	background: var(--light-color-b); 
}
#chat-form {
	display: flex;
	padding: 1vw;
}
#input{
	flex: 1;	
	height: 3vh;
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	font-size: 16px;
	border-color: seashell;
}

#typing-feedback { 
	width: fit-content;
	margin-top: 7px;
	margin-left: 7px;
	overflow: hidden;
	white-space: nowrap;
	color: var(--light-color-a);
}
.typing{
	animation: typings 3s ease;
}
@keyframes typings {
	0%{
		color: var(--dark-color-b);
	}
	100% {
		color: var(--light-color-a);
	}
}

/* -----JOIN PAGE----- */
.join-container {
	height: 55%;
	width: 40%;
	min-width: 355px;
	background: var(--dark-color-b);
	display: flex;
    flex-direction: column;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #fff;
}

.join-header {
	background: var(--dark-color-a);
	display: flex;
	justify-content: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-align: center;
	
}

.join-main {
	background: var(--dark-color-b);
	display: flex;
	align-items: baseline;
	justify-content: center;
	flex-grow: 1;
	border-radius: 5px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#join-form { 
	height: 80%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.join-main .form-control {
	margin-bottom: 20px;
}

#join-form select, input[type='text']{
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
	font-size: 16px;
	padding: 5px;
	height: 70%;
	width: 96%;
}
#join-form button {
	margin-top: 9px;
    height: 40px;
}

#username {
	border-style: inset;	
	background-color: antiquewhite;
}

#color {
	border-style: outset;
	background-color: antiquewhite;
}